<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yearsalso.data.mapper.CmsSettingMapper">
    <update id="updateOneBySettingKey">
        UPDATE cms_setting
        SET setting_value = #{setting.settingValue}
        WHERE setting_key = #{settingKey} AND del_flag != 1
    </update>
    <update id="updateBySettingKey">
        UPDATE cms_setting
        SET setting_value = #{settingValue}
        WHERE setting_key = #{settingKey}
    </update>

    <delete id="deleteOneBySettingKey">
        DELETE
        FROM cms_setting
        WHERE setting_key = #{settingKey} AND del_flag != 1
    </delete>

    <select id="selectOneBySettingKey" resultType="com.yearsalso.data.entity.CmsSetting">
        SELECT *
        FROM cms_setting
        WHERE setting_key = #{settingKey}
          AND del_flag != 1
        ORDER BY create_time DESC
        LIMIT 1
    </select>
</mapper>
