<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yearsalso.data.mapper.FmsFileMapper">

    <select id="selectOneByFileKey" resultType="com.yearsalso.data.entity.FmsFile">
        select *
        from fms_file
        where file_key = #{fileKey}
          AND del_flag != 1
        order by create_time desc
        limit 1
    </select>

    <select id="selectByFilePath" resultType="com.yearsalso.data.entity.FmsFile">
        select *
        from fms_file
        where location_path = #{filePath}
          AND del_flag != 1
        order by create_time desc
        limit 1
    </select>
</mapper>
