<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yearsalso.data.mapper.GuideContentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yearsalso.data.entity.GuideContents">
        <id column="id" property="id"/>
        <result column="guide_id" property="guideId"/>
        <result column="content" property="content"/>
        <result column="content_type" property="contentType"/>
        <result column="content_order" property="contentOrder"/>
        <result column="content_title" property="contentTitle"/>
        <result column="content_description" property="contentDescription"/>
        <result column="content_source" property="contentSource"/>
        <result column="content_source_id" property="contentSourceId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        guide_id,
        content,
        content_type,
        content_order,
        content_title,
        content_description,
        content_source,
        content_source_id,
        create_by,
        create_time,
        update_by,
        update_time,
        remark
    </sql>

</mapper>