<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yearsalso.data.mapper.UmsUserMapper">

    <select id="selectOneByUsername" resultType="com.yearsalso.data.entity.User">
        SELECT *
        FROM ums_user
        WHERE username = #{username} AND del_flag = 0
        ORDER BY id DESC
        LIMIT 1
    </select>

    <select id="selectOneByUsernameOrEmailOrMobile" resultType="com.yearsalso.data.entity.User">
        SELECT *
        FROM ums_user
        WHERE del_flag = 0
          AND (
            username = #{input}
                OR email = #{input}
                OR mobile = #{input}
            )
        ORDER BY id DESC
        LIMIT 1
    </select>
    <select id="countByUsernameOrEmailOrMobile" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ums_user
        WHERE
        del_flag = 0
        AND (
        username = #{username}
        <if test="email != null and email != ''">
            OR email = #{email}
        </if>
        <if test="mobile != null and mobile != ''">
            OR mobile = #{mobile}
        </if>
        )
    </select>
</mapper>
